/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jan-2022, 12:25:54
    Author     : 2101212
*/

.hub{
    font-size: 18px;
    color: brown
}
h1{
    color:blue;
}
div{
    background-color: greenyellow
}
